html {
    height: 100%;
    width: 100%;
}

body {
    height: 95%;
    width: 95%;
    background-color: #282828;
    color: white;
}

#canvas {
    height: 80%;
    width: 100%;
    background-color: #363636;
}

#control-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    height: 10%;
    width: 100%;
}

.controls {
    padding-left: 1%;
    margin-right: 50px;
    width: 25%;
    background-color: #363636;
}


.buttons {
    margin: 0;
    width: 13%;
}

.encoding-text {
    margin-left: 5%;
    display: inline-block;
}